################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
final-skripsi.code-workspace
camera/__pycache__
__pycache__
bluezdbusInterface/__pycache__
logs.log
